body{
  background-color: #000;
}


.site-header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  
}

.nav{
  margin-right: 50px;
}

.nav__list{
  display: flex;
  align-items: center;
  padding-left: 0;
}
.site-header__line{
  position: absolute;
  height: 115vh;
  width: 1px;
  background-color: #fff;
  top: -68px;
  left: 750px;
}

.nav__item{
  list-style-type: none;
}

.nav__item + .nav__item{
  margin-left: 35px;
}

.nav__link{
  color: #FFFFFF;
  text-decoration: none; 
}

.nav__link--info{
  color: #FFFFFF; 
  opacity: 0.6;
  text-decoration: none;
}

.lan{
  display: flex;
  padding-left: 0;
  opacity: 0.6;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 75px;
  padding: 8px 10px;
}

.lan__item{
  list-style-type: none;
}

.lan__item + .lan__item{
  margin-left: 10px;
}

.lan__link{
  color: #FFFFFF;
  text-decoration: none;
}

.lan__link--info{
  color: #FFFFFF;
  text-decoration: none;
  
  opacity: 0.3;
}

.site-header__btn {
  width: 26px;
  height: 26px;
  padding: 0;
  color: #fff;
  border: 0;
  background-image: url(../images/frame.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}

@media only screen and (max-width: 375px){
  
  .site-header__inner{
    width: 1100px;
  }
  
  .nav__list{
    display: none;
  }
  
  .container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
  }
  
  .main__line{
    width: 470vh;
  }
  
  .site-header__line{
    height: 339vh;
  }
  
  .site-header__btn{
    display: block;
  }
  
  
}

